* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav */
nav {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.navlogo {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.navlogo:hover {
  color: lightgreen;
  transition: 0.4s;
}

ul {
  display: flex;
  margin: 5%;
  list-style: none;
}

a {
  text-decoration: none;
}

.navlink {
  color: white;
  margin-right: 25px;
}

.navlink:hover {
  color: lightgreen;
  transition: 0.4s;
}

form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 100px;
  margin: 30px auto 0 auto;
  background-color: black;
  box-shadow: 5px 10px #ccc9c9;
  border-radius: 10px;
}

label {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.header-wrapper {
  margin-top: 10px;
  text-align: center;
  width: 90%;
  margin: 10px auto 0 auto;
}

.header-wrapper > h3 {
  font-style: italic;
}

input {
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 1.1rem;
}
/* individual cocktails */
.cocktail-wrapper {
  display: flex;
  margin: 25px 4px;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.individual-cocktail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}

.individual-cocktail > img {
  max-height: 150px;
}

.individual-cocktail > h4 {
  font-weight: 500;
}

.individual-cocktail > p {
  font-style: italic;
}

.cocktail-button {
  margin: 5px 0 5px 0;
  font-size: 0.8rem;
  padding: 5px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
}

.cocktail-button:hover {
  background: white;
  color: black;
  border: 1px solid black;
  font-weight: 499;
}

/* Cocktail List */

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  margin: 0 auto;
}

.single-cocktail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-cocktail-wrapper > h2 {
  font-size: 2.5rem;
  margin: 20px 0;
}

.single-cocktail-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-cocktail-image {
  max-height: auto;
  max-width: 350px;
}

.single-info-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.single-info-wrapper > p {
  background: white;
  margin: 10px 0;
}

.single-span {
  background-color: lightgreen;
  padding: 4px 0;
  font-weight: 600;
  margin: 10px 0;
}

.none-found {
  margin: 50px auto;
  font-size: 1.5rem;
  background-color: yellow;
  text-align: center;
  width: 400px;
  padding: 10px;
}

/* About Page */

.about-wrapper {
  width: 50%;
  margin: 30px auto;
}

.about-wrapper > h3 {
  text-align: center;
  font-size: 2.5rem;
  margin: 30px;
}

.about-wrapper > p {
  font-size: 1.3rem;
}

.about-wrapper > img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
